*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  background-color: var(--bg-color);
  color: var(--text-color);
}

ul, ol {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

button {
  cursor: pointer;
  font: inherit;
  border: none;
  background: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}
