@use '../../styles/variables' as vars;

.button {
  color: var(--text-color);
  display: flex;
  align-items: center;
  gap: 0.25rem; 
  padding: 0.5rem; 
  border-radius: 0.5rem;
  transition: background-color 0.2s;
}
.button:hover {
  background-color: rgba(var(--secondary-color), 0.4);
}

.icon {
  width: 1rem;
  height: 1rem;
}
.count {
  font-size: 0.875rem; 
  font-weight: 500;
}