.list {
  
  display: flex;
  flex-direction: column;
  align-items: center;      // centra orizzontalmente le card
  gap:1rem;                // spazio tra le card
  padding: 2rem 0;          // padding verticale
}

// opzionale: se vuoi limitare la larghezza massima delle card
.listItem {
  width: 100%;
  max-width: 600px;         // scegli tu il max
}
