.container {
  display: flex;
  flex-direction: column;
  align-items: center; // centra orizzontalmente il contenuto
  padding: 2rem;
}


.list {
  display: flex;
  flex-direction: column;
  justify-content: center; // centra verticalmente le card
  align-items: center;      // centra orizzontalmente le card
  gap:1rem;                // spazio tra le card
  padding: 2rem 0;
  max-width: 900px; 
  width: 100%;
}