.home {
  max-width: 9000px;
  width: 100%;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;

  h1 {
    font-size: 2rem;
    margin-bottom: 1rem;
  }

  p {
    margin-bottom: 2rem;
    font-size: 1.2rem;
  }

.immagine {
  max-width: 100%;
  height: 300px;
  display: block;
  margin: 0 auto; // centra orizzontalmente
}
}
.features {
  max-width: 900px;
  margin: 2rem auto;
  padding: 2rem;
  background-color: #fafafa;
  border-radius: 1rem;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);

  h2 {
    text-align: center;
    margin-bottom: 1.5rem;
    font-size: 1.8rem;
    color: #333;
  }

  ul {
    list-style-type: disc;
    padding-left: 2rem;

    li {
      margin-bottom: 0.8rem;
      line-height: 1.5;
      color: #444;

      strong {
        color: #222;
      }

      ul {
        list-style-type: circle;
        padding-left: 1.5rem;
        margin-top: 0.5rem;

        li {
          font-size: 0.95rem;
          color: #555;
        }
      }
    }
  }
}
