name: deploy-blog-fe-mt
on:
  push:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - uses: actions/setup-node@v4
        with: node-version 22

      - run: npm install
        name: Install dependencies

      - run: npm test
        name: Run tests

      - run: |
          npm run build
          # creiamo un singolo .tar.gz con il contenuto di dist/
          tar -czvf package.tar.gz -C dist .
        name: Build & package

      - run: |
          echo "→ ARCHIVE CONTENTS:"
          tar -tzf package.tar.gz
        name: Debug archive

      - uses: actions/upload-artifact@v4
        with:
          name: react-build
          path: package.tar.gz

  deploy:
    runs-on: ubuntu-latest
    needs: build
    steps:
      - uses: shimataro/ssh-key-action@v2
        with:
          key: ${{ secrets.AWS_SSH_KEY }}
          name: id_rsa
          known_hosts: ${{ vars.AWS_HOST }}

      - run: ssh-keyscan ${{ vars.AWS_HOST }} >> ~/.ssh/known_hosts
        name: Set up SSH

      - uses: actions/download-artifact@v4
        with:
          name: react-build
          path: .

      - run: |
          echo "→ LOCAL FILES:"
          ls -lh package.tar.gz
        name: Debug local artifact

      - run: |
          scp package.tar.gz ${{ secrets.AWS_USER }}@${{ vars.AWS_HOST }}:/usr/local/repos/blog-fe-mt/package.tar.gz
        name: Copy to server

      - run: |
          ssh -o StrictHostKeyChecking=no ${{ secrets.AWS_USER }}@${{ vars.AWS_HOST }} \
            "bash /usr/local/repos/blog-fe-mt/deploy/deploy.sh main"
        name: Remote deploy
